// header scss

.header-container {
	background-color: #000;
	border-bottom: 2px solid #fff;
	color: #fff;
	padding: 5px;

	.header {
		margin: auto;
		position: relative;
		width: 1000px;
	
		.logo {
			color: #fff;
			display: inline-block;
			font-size: 2rem;
			height: 60px;
			line-height: 60px;
			margin-left: 50px;
			text-align: center;
		}
	}
}
